{% extends "DCUserBundle:N1:login_n1.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}


{% block body %}

<div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4" style="background: white;margin-top: 60px;border-radius: 70px;padding: 40px">
        <h2 class="logo_dc pull-right">{{ settings.siteName }} </h2>


    <div class="row" style="margin-top: 50px">

        <form action="{{ path('dc_user_login_check') }}" method="POST">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" name="_username" class="form-control" id="login" value="{{ last_username }}" placeholder="Saisissez votre login">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="_password" class="form-control" id="password" placeholder="Saisissez votre mot de passe">
            </div>
            <input value="Valider" type="submit" class="btn btn-primary pull-right">
        </form>

    </div>
    <!-- /top nav -->

</div>

{% endblock %}