<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{{ sonata_seo_title() }}{% endblock %}
        {% block metas %}{{ sonata_seo_metadatas() }}{% endblock %}
        <META NAME="ROBOTS" CONTENT="NO-INDEX, NO-FOLLOW">
        <meta name="robots" content="noindex">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('built/dccore/css/libs.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('built/dccore/css/general.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('built/dccore/css/front.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('vendor/lazyloadxt/dist/jquery.lazyloadxt.fadein.min.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('vendor/lazyloadxt/dist/jquery.lazyloadxt.spinner.min.css') }}" type="text/css"/>
        {% endblock %}
        {% if app.environment == "dev" %}
            <script src="http://localhost:35729/livereload.js"></script>
        {% endif %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <div class="box_login">
                <div class="row row-offcanvas row-offcanvas-left">
                     {% block body %}{% endblock %}
                </div> <!-- fin row -->
            </div> <!-- fin box -->
        </div> <!-- fin wrapper -->

        <script src="{{ asset('built/js/dc-libs.min.js') }}"></script>
        {% if app.environment == "dev" %}
            {# si env. dev  Insertion des js non minifiés #}
            <script src="{{ asset('bundles/dccore/js/dc.js') }}"></script>
            <script src="{{ asset('bundles/dccore/js/dc-front.js') }}"></script>
        {% else %}
            {# si env. prod  Insertion des js minifiés #}
            <script src="{{ asset('built/dccore/js/dc.min.js') }}"></script>
            <script src="{{ asset('built/dccore/js/dc-front.min.js') }}"></script>
        {% endif %}
</body>
</html>